* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  background: rgb(255, 255, 255);
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 5%;
  background-color: white;
  gap: 60px;
  border-bottom: #d7d8da solid 1px;
}

.nav-items {
  display: flex;
  gap: 60px;
  margin-left: -200px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
}

.nav-items li a.active {
  text-decoration: underline;
}

table {
  margin: 0 5%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #444;
}

table tr:nth-child(odd){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  text-align: left;
  background-color: white;
}